@import 'tailwindcss';
@plugin "daisyui";

.card-post {
  @apply border rounded-2xl p-3 my-4 mx-auto bg-stone-400 min-w-[722px] max-w-[1080px];
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ffba00;
  border-radius: 6px;
}

.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-infinite {
  animation: scroll-infinite 20s linear infinite;
}
